node_modules/
.next/
dist/
coverage/
.cache/
.vercel/
.pnpm/
.npm/
.yarn/

*.log
*.tsbuildinfo
pnpm-lock.yaml

src/Utils/supabase.ts
src/payload-types.ts
src/migrations/

public/*.pdf
public/*.tar
public/*.ico
